@import "@styles/settings/__settings";

.button {
  border: solid 2px black;
  font-size: 1em;
  color: white;
  background-color: $color-button-background;
  font-weight: $font-weight-black;
  font-family: inherit;
  text-transform: uppercase;
  padding: .6em 1em;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }

}