$color-brand-aqua: red;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: red;
$color-brand-purple: black;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #FFFFFF;
$color-header-links: black;

$color-button-background: $color-brand-purple;